@tailwind base;
@tailwind components;
@tailwind utilities;


body{
    font-family: 'Poppins', sans-serif;
    margin:0;
    background:#f5f7fb;
}

/* Layout */
.portal-wrapper{
    display:flex;
}

/* Sidebar */
.sidebar{
    width:260px;
    min-height:100vh;
    background:#0F2D52;
    color:white;
    padding:20px;
}

.sidebar .logo{
    text-align:center;
    margin-bottom:30px;
}

.sidebar .logo img{
    width:90px;
}

.sidebar ul{
    list-style:none;
    padding:0;
}

.sidebar ul li{
    margin:15px 0;
}

.sidebar ul li a{
    color:white;
    text-decoration:none;
    padding:12px;
    display:block;
    border-radius:10px;
}

.sidebar ul li a:hover{
    background:#C59B2B;
}

/* Main Area */
.main-area{
    flex:1;
}

/* Navbar */
.navbar{
    background:white;
    padding:15px 25px;
    display:flex;
    justify-content:space-between;
    box-shadow:0 2px 10px rgba(0,0,0,0.05);
}

/* Content */
.content{
    padding:25px;
}